* text=auto eol=lf

# Force .blade.php to be detected as PHP
*.blade.php linguist-language=PHP

*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
